/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Cairo", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.main-title {
    position: relative;
    text-align: center;
    margin: 0 auto 80px;
    border: 2px solid #000;
    width: fit-content;
    padding: 10px 20px;
    font-size: 30px;
    z-index: 1;
    text-transform: uppercase;
    transition: var(--main-transition);
}

.main-title:hover {
    color: #fff;
    border-color: #fff;
    transition-delay: 0.5s;
}

.main-title::after,
.main-title::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    transition: calc(var(--main-transition) + 0.2s)
}

.main-title::after {
    right: -30px;
}

.main-title:hover::after {
    animation: right-move .5s linear forwards;
}

.main-title::before {
    left: -30px;
}

.main-title:hover::before {
    animation: left-move .5s linear forwards;
}

/* End Global Rules */
/* Start Main Title */
/*  احسن واظرف(animation)دا شغل كويس جدا بس ف فروق بسيطه جدا تتعمل بال  */
/* .main-title {
    position: relative;
    text-align: center;
    margin: 0 auto 80px;
    border: 2px solid #000;
    width: fit-content;
    padding: 10px 20px;
    font-size: 30px;
    z-index: 1;
    text-transform: uppercase;
    transition: var(--main-transition);
}
.main-title:hover {
    color: #fff;
    border-color: #fff;
}
.main-title::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    right: -25px;
    z-index: -1;
    transition: calc(var(--main-transition) + 0.2s)
}
.main-title:hover::after {
    width: 50%;
    height: 100%;
    border-radius: 0;
    top: 50%;
    right: 0;
}
.main-title::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: -25px;
    z-index: -1;
    transition: calc(var(--main-transition) + 0.2s);
}
.main-title:hover::before {
    width: 50%;
    height: 100%;
    border-radius: 0;
    top: 50%;
    left: 0;
} */
/* End Main Title */
/* Start Header */
.header {
    background-color: #fff;
    position: relative;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.header .logo {
    height: 72px;
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 767px) {
    .header .logo {
        width: 100%;
        height: 50px;
    }
}

.header .main-nav {
    display: flex;
}

@media (max-width: 767px) {
    .header .main-nav {
        margin: auto;
    }
}

.header .main-nav>li:hover .mega-menu {
    z-index: 100;
    opacity: 1;
    top: calc(100% + 1px);
}

.header .main-nav>li>a {
    padding: 0 30px;
    color: #000;
    position: relative;
    display: flex;
    height: 72px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-size: 18px;
    transition: var(--main-transition);
}

@media (max-width: 767px) {
    .header .main-nav>li>a {
        padding: 10px;
        font-size: 14px;
        height: 40px;
    }
}

.header .main-nav>li>a:hover {
    color: var(--main-color);
    background-color: #fafafa;
}

.header .main-nav>li>a::before {
    left: -100%;
    top: 0;
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    transition: var(--main-transition);
}

.header .main-nav>li>a:hover::before {
    left: 0;
}

.header .mega-menu {
    position: absolute;
    top: calc(100% + 50px);
    left: 0;
    z-index: -1;
    width: 100%;
    background-color: #fff;
    border-bottom: 3px solid var(--main-color);
    display: flex;
    gap: 40px;
    padding: 30px;
    opacity: 0;
    transition: top var(--main-transition), opacity var(--main-transition);
}

@media (max-width: 767px) {
    .header .mega-menu {
        flex-direction: column;
        gap: 0;
    }
}

.header .mega-menu .image img {
    max-width: 100%;
}

@media (max-width: 992px) {
    .header .mega-menu .image {
        display: none;
    }
}

.header .mega-menu .links {
    min-width: 240px;
}

@media (max-width: 992px) {
    .header .mega-menu .links {
        flex: 1;
    }
}

.header .mega-menu .links li {
    position: relative;
    transition: var(--main-transition);
}

.header .mega-menu .links li:hover::before {
    width: 100%;
}

.header .mega-menu .links li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fafafa;
    z-index: -1;
    width: 0;
    height: 100%;
    transition: var(--main-transition);
}

.header .mega-menu .links li:not(:last-child) {
    border-bottom: 1px solid #e9e6e6;
}

@media (max-width: 767px) {
    .header .mega-menu .links:first-of-type li:last-child {
        border-bottom: 1px solid #e9e6e6;
    }
}

.header .mega-menu .links li a {
    display: block;
    padding: 20px;
    color: var(--main-color);
    font-size: 18px;
    font-weight: bold;
}

.header .mega-menu .links li a i {
    margin-right: 10px;
}

/* End Header */
/* Start Landing */
/* VIP */
/* .landing {
    position: relative;
    height: calc(100vh - 72px);
}
.landing::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    top: -80px;
    left: 0;
    z-index: -1;
    transform: skewy(-6deg);

}
.landing .container {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-areas: "text text image image image";
}
@media (min-width: 993px),
(max-width: 1199px) {
    .landing .container {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-template-areas: "text image image";
    }
}
@media (max-width: 992px) {
    .landing .container {
        justify-content: space-around;
        align-items: center;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
        grid-template-areas: "text";
    }
}
.landing .text {
    grid-area: text;
}
.landing .text h2 {
    margin: 0;
    font-size: 40px;
    letter-spacing: -2px;
}
@media (min-width: 993px),
(max-width: 1199px) {
    .landing .text h2 {
        font-size: 35px;
    }
}
.landing .text p {
    margin: 5px auto 0;
    font-size: 25px;
    color: #777;
    line-height: 1.7;
    max-width: 500px;
}
@media (max-width: 992px) {
    .landing .text {
        justify-content: center;
        align-items: center;
        margin-top: 130px;
        text-align: center;
    }

    .landing .text h2 {
        font-size: 40px;
    }
}
@media (max-width: 767px) {
    .landing .text {
        margin-top: 160px;
    }

    .landing .text h2 {
        font-size: 30px;
    }

    .landing .text p {
        max-width: 350px;
        font-size: 18px;
    }
}
.landing .image {
    grid-area: image;
}
.landing .image img {
    width: 600px;
}
@media (max-width: 992px) {
    .landing .image {
        display: none;
    }
} */
.landing {
    position: relative;
}

.landing::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    z-index: -1;
    transform-origin: top left;
    top: -40px;
    left: 0;
    transform: skewy(-6deg);
}

.landing .container {
    display: flex;
    align-items: center;
    min-height: calc(100vh - 72px);
    padding-bottom: 120px;
}

.landing .text {
    flex: 1;
}

@media (max-width: 992px) {
    .landing .text {
        text-align: center;
    }
}

.landing .text h1 {
    letter-spacing: -2px;
    font-size: 40px;
    margin: 0;
}

@media (max-width: 767px) {
    .landing .text h1 {
        font-size: 28px;
    }
}

.landing .text p {
    color: #666;
    line-height: 1.7;
    font-size: 23px;
    max-width: 500px;
    margin: 5px 0 0;
}

@media (max-width: 992px) {
    .landing .text p {
        margin: 10px auto;
    }
}

@media (max-width: 767px) {
    .landing .text p {
        font-size: 18px;
    }
}

.landing .image img {
    width: 600px;
    animation: up-and-down 5s linear infinite;
    position: relative;
}

@media (max-width: 992px) {
    .landing .image img {
        display: none;
    }
}

.landing .go-down:hover {
    color: var(--main-color-alt);
}

.landing .go-down {
    color: var(--main-color);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-transition);
}

.landing .go-down i {
    animation: bouncing 1.5s infinite;
}

/* End Landing */
/* Start Articles */
.articles {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}

.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

.articles .box {
    box-shadow: 0 0 10px #ddd;
    border-radius: 5px;
    overflow: hidden;
    transition: transform var(--main-transition), box-shadow var(--main-transition);
}

.articles .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 10px rgb(131, 130, 130);
}

.articles .box img {
    max-width: 100%;
    /* 
    دي مش غلط بس اسهل وافضل ال(overflow: hidden;)
        border-top-left-radius: 5px;
    border-top-right-radius: 5px; */
}

.articles .box .cont {
    padding: 20px;
}

.articles .box .cont h3 {
    margin: 0;
}

.articles .box .cont p {
    margin: 10px 0 0;
    color: #777;
    line-height: 1.5;
}

.articles .box .bottom {
    padding: 20px;
    border-top: 1px solid #e6e6e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--main-color);

}

.articles .box .bottom a {
    display: block;
    color: var(--main-color);
    font-weight: bold;
}

.articles .box:hover .bottom i {
    animation: run-left .6s linear infinite;
}

/* End Articles */
/* Start Gallery */
.gallery {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
}

.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.gallery .box {
    background-color: #fff;
    padding: 15px;
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
}

.gallery .box .image {
    position: relative;
    overflow: hidden;
}

.gallery .box .image::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0%;
    height: 0%;
    background-color: rgba(255, 255, 255, 20%);
    opacity: 0;
    z-index: 2;
}

.gallery .box .image:hover::before {
    animation: flashing .7s;
}

.gallery .box .image img {
    max-width: 100%;
    transition: var(--main-transition);
}

.gallery .box .image:hover img {
    transform: rotate(5deg) scale(1.1);
}

/* End Gallery */
/* Srart Features */
.features {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;

}

.features .box {
    border: 1px solid #ccc;
}

.features .box .image {
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}

.features .box .image::after {
    content: "";
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    border-width: 0 0 170px 500px;
    transition: var(--main-transition);
}

.features .box:hover .image::after {
    border-width: 170px 500px 170px 0;
}

.features .box .image::before {
    content: "";
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: -1px;
    left: 0;
}

.features .box .image.quality::before {
    background-color: rgb(244 64 54 / 60%);
}

.features .box .image.time::before {
    background-color: rgb(0 150 136 / 60%);
}

.features .box .image.passion::before {
    background-color: rgb(3 169 244 / 60%);
}

.features .box .image img {
    max-width: 100%;
}

.features .box .info {
    text-align: center;
}

.features .box .info h2 {
    margin: 0 auto;
    font-size: 40px;
    position: relative;
    width: fit-content;
}

.features .box .info h2::before {
    content: "";
    position: absolute;
    height: 5px;
    width: calc(100% - 30px);
    left: 50%;
    bottom: -20px;
    transform: translateX(-50%);
}

.features .box .info.quality h2::before {
    background-color: #f44036;
}

.features .box .info.time h2::before {
    background-color: #009688;
}

.features .box .info.passion h2::before {
    background-color: #03a9f4;
}

.features .box .info p {
    line-height: 2;
    color: #777;
    padding: 25px;
    font-size: 20px;
    margin: 30px 0;
}

.features .box .info a {
    border: 3px solid;
    border-radius: 6px;
    padding: 10px 30px;
    font-weight: bold;
    font-size: 22px;
    display: block;
    width: fit-content;
    margin: 0 auto 30px;
    position: relative;
    transition: var(--main-transition);
}

.features .box .info.quality a {
    border-color: #f44036;
    color: #f44036;
    background: linear-gradient(to right, #f44036 50%, #fff 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .box .info.quality a:hover {
    background-position: left bottom;
    color: #fff;
}

.features .box .info.time a {
    border-color: #009688;
    color: #009688;
    background: linear-gradient(to right, #009688 50%, #fff 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .box .info.time a:hover {
    background-position: left bottom;
    color: #fff;
}

.features .box .info.passion a {
    border-color: #03a9f4;
    color: #03a9f4;
    background: linear-gradient(to right, #03a9f4 50%, #fff 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .box .info.passion a:hover {
    background-position: left bottom;
    color: #fff;
}

/* End Features */
/* Start Testimonials */
.testimonials {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
}

.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.testimonials .box {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
}

.testimonials .box .image {
    border-radius: 50%;
    background-color: var(--section-background);
    padding: 5px;
    position: absolute;
    width: 100px;
    height: 100px;
    right: -10px;
    top: -25%;
}

.testimonials .box .image img {
    max-width: 100%;
    border-radius: 50%;
}

.testimonials .box h3 {
    margin: 0 0 10px;
}

.testimonials .box p:first-of-type {
    color: rgb(33 150 243 / 75%);
    margin: 0 0 10px;
}

.testimonials .box .star {
    margin-bottom: 10px;
}

.testimonials .box .star .filled {
    color: #ffc107;
}

.testimonials .box p:last-of-type {
    color: #777;
    line-height: 1.5;
    margin: 10px 0 0;
}

/* End Testimonials */
/* Start Team Members */
.team-members {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}

.team-members .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px 80px;
}

.team-members .box {
    position: relative;
}

.team-members .box::before,
.team-members .box::after {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #f3f3f3;
    border-radius: 10px;
}

.team-members .box::before {
    width: calc(100% - 60px);
    z-index: -2;
}

.team-members .box::after {
    width: 0%;
    background-color: #e4e4e4;
    z-index: -1;
    transition: var(--main-transition);
}

.team-members .box:hover::after {
    width: calc(100% - 60px);
}

.team-members .box .img-i {
    display: flex;
    align-items: center;
    padding-top: 60px;
}

.team-members .box .img-i img {
    max-width: calc(100% - 60px);
    border-radius: 10px;
    transition: var(--main-transition);
}

.team-members .box:hover .img-i img {
    filter: grayscale(100%);
}

.team-members .box .img-i .icon {
    display: flex;
    flex-direction: column;
    width: 60px;
    text-align: center;
    gap: 20px;
}

.team-members .box .img-i .icon a {
    width: 60px;
    height: 30px;
}

.team-members .box .img-i .icon a i {
    color: #777;
    transition: var(--main-transition);
}

.team-members .box .img-i .icon a:hover i {
    color: var(--main-color);
}

.team-members .box .info {
    padding-left: 80px;
}

.team-members .box .info h3 {
    margin: 20px 0 0;
    font-size: 22px;
    color: var(--main-color);
}

.team-members .box:hover .info h3 {
    color: #777;
}

.team-members .box .info p {
    margin: 10px 0 25px;
}

/* End Team Members */
/* Start Services */
.services {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
}

.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px 80px;
}

.services .box {
    background-color: #fff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 25%);
    padding-top: 20px;
    text-align: center;
    overflow: hidden;
    transition: var(--main-transition);
    position: relative;
}

.services .box::before {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    height: 3px;
    width: 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-transition);
}

.services .box:hover::before {
    width: 100%;
}

.services .box:hover {
    transform: translateY(-10px);
}

.services .box .icon i {
    color: #d5d5d5;
}

.services .box .icon h3 {
    color: var(--main-color);
    font-size: 25px;
}

.services .box .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 40px;
    background-color: #cccccc26;
    position: relative;
}

.services .box .info::before {
    background-color: #d5d5d5;
    left: 20px;
}

.services .box .info::after {
    background-color: var(--main-color);
    left: -25px;
}

.services .box .info::before,
.services .box .info::after {
    content: "";
    position: absolute;
    width: 30%;
    height: 100%;
    transform: skewX(-25deg);
}

.services .box .info p {
    z-index: 2;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    padding-left: 10px;
}


.services .box .info a {
    color: var(--main-color);
}

/* End Services */
/* Start Our Skills */
.our-skills {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}

.our-skills .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 991px) {
    .our-skills img {
        display: none;
    }
}

.our-skills .skills {
    flex: 1;
}

.our-skills .skill h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-skills .skill h3 span {
    color: var(--main-color);
    border: 1px solid #eee;
    padding: 3px 5px;
    font-size: 12px;
    border-radius: 4px;
}

.our-skills .skill .the-progress {
    position: relative;
    background-color: #eee;
    height: 30px;
}

.our-skills .skill .the-progress span {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    height: 100%;
}

/* End Our Skills */
/* Start Work Steps */
.work-steps {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
}

.work-steps .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 991px) {
    .work-steps .container {
        flex-direction: column;
    }
}

.work-steps .container>img {
    max-width: 100%;
    margin-right: 100px;
}

@media (max-width: 991px) {
    .work-steps .container>img {
        margin: 0 auto 50px;
    }
}

.work-steps .b-box {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.work-steps .b-box .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f6f5f5;
    border: 2px solid #fff;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 30px;
    position: relative;
    z-index: 1;
}

@media (max-width: 767px) {
    .work-steps .b-box .box {
        flex-direction: column;
    }
}

.work-steps .b-box .box::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ededed;
    border-radius: 10px;
    transition: var(--main-transition);
    z-index: -1;
}

.work-steps .b-box .box:hover::before {
    width: 100%;
    height: 100%;
}

.work-steps .b-box .box>img {
    width: 64px;
    margin-right: 30px;
    /* مش غلط وهيطلع معاك الشكل زي الفل بس دي مش طريقه احترافيه */
    /* z-index: 2; */
}

@media (max-width: 767px) {
    .work-steps .b-box .box>img {
        margin: 0 auto 20px;
    }

    .work-steps .b-box .box .text {
        text-align: center;
    }
}

.work-steps .b-box .box .text h3 {
    font-size: 22px;
    margin: 0;
    /* z-index: 2; */
}

.work-steps .b-box .box .text p {
    line-height: 1.7;
    color: #777;
    margin: 10px 0 0;
    font-size: 18px;
    /* z-index: 2; */
}

/* End Work Steps */
/* Start Events */
.events {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}

.events .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.events img {
    width: 450px;
}

@media (max-width: 991px) {
    .events img {
        display: none;
    }
}

.events .box {
    flex: 1;
    text-align: center;
}

.events .box .info {
    border: 1px solid #d4d4d4;
    border-radius: 6px;
    text-align: center;
    width: fit-content;
    display: inline-block;
    transition: var(--main-transition);
}

.events .box .info:not(:last-of-type) {
    margin-right: 10px;
}

.events .box .info:hover,
.events .box .info:hover span:last-of-type {
    border-color: var(--main-color);
}

.events .box .info span {
    display: block;
    transition: var(--main-transition);
}

.events .box .info span:first-of-type {
    color: var(--main-color);
    font-weight: bold;
    font-size: 35px;
    padding: 15px;
}

.events .box .info span:last-of-type {
    font-size: 13px;
    padding: 8px 10px;
    border-top: 1px solid #d4d4d4;
}

.events .box h2 {
    font-size: 30px;
    margin: 40px auto 0;
}

.events .box p {
    line-height: 1.7;
    color: #777;
    font-size: 19px;

}

.events .form {
    width: 100%;
    text-align: center;
}

.events .form form {
    width: 600px;
    background-color: #f6f5f5;
    border-radius: 50px;
    margin: 20px auto;
    padding: 30px 40px;
    display: flex;
    align-items: center;
    gap: 20px;
}

@media (max-width: 767px) {
    .events .form form {
        max-width: 100%;
        flex-wrap: wrap;
    }

    .events .form form {
        border-radius: 0%;
    }
}

.events .form form input[type="email"] {
    border-radius: 50px;
    flex: 1;
    padding: 20px 20px;
    border: 0;
    caret-color: var(--main-color);
}

.events .form form input[type="email"]:focus {
    outline: none;
}

.events .form form input[type="email"]::placeholder {
    transition: opacity var(--main-transition);
}

.events .form form input[type="email"]:focus::placeholder {
    opacity: 0;
}

.events .form form input[type="submit"] {
    border-radius: 50px;
    color: #fff;
    background-color: var(--main-color);
    transition: var(--main-transition);
    border: none;
    padding: 20px;
    font-weight: bold;
    cursor: pointer;

}

@media (max-width: 767px) {

    .events .form form input[type="email"],
    .events .form form input[type="submit"] {
        border-radius: 0%;
        width: 100%;
    }
}

.events .form form input[type="submit"]:hover {
    background-color: var(--main-color-alt);
}

/* End Events */
/* Start Pricing Plans */
.pricing {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
}

.pricing .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.pricing .box {
    background-color: #fff;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    position: relative;
    z-index: 1;
}

.pricing .box .label {
    color: #fff;
    background-color: var(--main-color);
    position: absolute;
    writing-mode: vertical-rl;
    width: fit-content;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    right: 20px;
}

.pricing .box .label::before {
    content: "";
    position: absolute;
    border-style: solid;
    border-color: transparent var(--main-color) transparent var(--main-color);
    right: 0;
    bottom: -20px;
    border-width: 0px 21px 20px 20px;
}

@media (min-width: 1200px) {
    .pricing .box:nth-child(2) {
        transform: translatey(-20px);
    }
}

.pricing .box::after,
.pricing .box::before {
    content: "";
    position: absolute;
    width: 0;
    height: 50%;
    background-color: #f6f6f6;
    transition: var(--main-transition);
    z-index: -1;
}

.pricing .box::after {
    top: 0;
    left: 0;
}

.pricing .box::before {
    bottom: 0;
    right: 0;
}

.pricing .box:hover::after,
.pricing .box:hover::before {
    width: 100%;
}

.pricing .box .text {
    text-align: center;
}

.pricing .box .text div {
    font-weight: bold;
    font-size: 25px;
    margin: 20px auto;
    letter-spacing: -1px;
}

.pricing .box .text img {
    width: 80px;
}

.pricing .box .text span {
    display: block;
}

.pricing .box .text span:first-of-type {
    color: var(--main-color);
    font-size: 50px;
    font-weight: bold;
    margin: 20px auto 0;
}

.pricing .box .text span:last-of-type {
    color: #777;
    margin-top: 5px;
}

.pricing .box ul {
    margin-top: 20px;
}

.pricing .box ul li {
    padding: 20px;
    border-top: 1px solid #eee;
}

.pricing .box ul li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    margin-right: 10px;
    font-weight: 900;
    color: var(--main-color);
}

.pricing .box a {
    display: block;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    transition: var(--main-transition);
    text-align: center;
    width: fit-content;
    margin: 30px auto 40px;
    padding: 15px 20px;
    border-radius: 6px;
    font-weight: bold;
}

.pricing .box a:hover {
    color: #fff;
    background-color: var(--main-color-alt);
}

/* End Pricing Plans */
/* Start Top Videos */
.top-videos {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}

.top-videos .holder {
    display: flex;
    justify-content: center;
    background-color: var(--section-background);
    border: 1px solid #ddd;
}

@media (max-width: 991px) {
    .top-videos .holder {
        flex-direction: column;
    }
}

.top-videos .links {
    min-width: 300px;
}

.top-videos .links .head {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f4f4f4;
}

.top-videos .links .head p {
    font-weight: bold;
    margin: 0;
}

.top-videos .links ul {
    background-color: #fff;
}

.top-videos .links ul li {
    border-top: 1px solid var(--section-background);
    border-bottom: 1px solid var(--section-background);
    padding: 20px;
    cursor: pointer;
    transition: var(--main-transition);
}

.top-videos .links ul li:hover {
    color: var(--main-color);
    background-color: #fafafa;
}

.top-videos .links ul li span {
    display: block;
    color: #777;
    margin-top: 10px;
}

.top-videos .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.top-videos .info img {
    max-width: 100%;
}

.top-videos .info p {
    padding: 20px;
    margin: 10px 0 0;
    background-color: #fff;
}

/* End Top Videos */
/* Start Stats */
.stats {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-image: url(../images/stats.jpg);
    background-size: cover;
    position: relative;
}

.stats::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255, 95%);
}

.stats .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
    position: relative;
}

.stats h2 {
    position: relative;
    text-align: center;
    margin: 0 auto 50px;
    font-size: 40px;
    width: fit-content;
    font-weight: bold;
}

.stats .box {
    background-color: #fff;
    text-align: center;
    padding: 30px 15px;
    position: relative;
}

.stats .box::after,
.stats .box::before {
    content: "";
    width: 2px;
    background-color: var(--main-color);
    height: 0;
    position: absolute;
    transition: calc(var(--main-transition) + .7s);
}

.stats .box::after {
    bottom: 0;
    left: 0;
}

.stats .box i {
    opacity: .8;
    transition: opacity var(--main-transition);
}

.stats .box::before {
    top: 0;
    right: 0;
}

.stats .box:hover::after,
.stats .box:hover::before {
    height: 100%;
}

.stats .box span {
    display: block;
}

.stats .box span:first-of-type {
    font-size: 50px;
    font-weight: bold;
    opacity: .8;
    margin: 10px auto;
    transition: opacity var(--main-transition);
}

.stats .box:hover span:first-of-type,
.stats .box:hover i {
    opacity: 1;
}

.stats .box span:last-of-type {
    color: var(--main-color);
    transform: skewx(-15deg);
    font-weight: bold;
    font-size: 20px;
}

.stats .box:hover span:last-of-type {
    color: var(--main-color-alt);
}

/* End Stats */
/* Start Discount */
.discount {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.discount .cont {
    text-align: center;
    padding: 0 20px;
}

@media (max-width: 991px) {
    .discount .form .cont {
        padding-bottom: 50px;
    }
}

.discount .cont h2 {
    letter-spacing: -2px;
    font-size: 40px;
}

.discount .box {
    background-image: url(../imgs/discount-background1.jpg);
    background-size: cover;
    color: white;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    animation: change-background 10s linear infinite;
}

.discount .box::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(23 135 224 / 97%);
    z-index: -1;
}

@media (max-width: 991px) {
    .discount .box {
        flex-basis: 100%;
    }
}

.discount .form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
}

@media (max-width: 991px) {
    .discount .form {
        flex-basis: 100%;
    }
}

.discount .box p {
    padding: 20px;
    text-align: center;
    line-height: 1.6;
    max-width: 500px;
}

.discount .box img {
    width: 300px;
    max-width: 100%;
}

.discount .form .input {
    background-color: #f9f9f9;
    caret-color: var(--main-color);
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    margin-bottom: 25px;
    padding: 15px;
}

.discount .form .input:focus {
    outline: none;
}

.discount .form textarea.input {
    height: 200px;
    resize: none;
}

.discount .form input[type="submit"] {
    color: #fff;
    background-color: var(--main-color);
    border: none;
    margin: 0;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    padding: 15px;
}

/* End Discount */

/* Start Footer */
.footer {
    background-color: #191919;
    padding: 70px 0 0;
    color: #b9b9b9;
}

@media (max-width: 767px) {
    .footer {
        text-align: center;
    }
}

.footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;

}

.footer .box h3 {
    font-size: 50px;
    color: #fff;
    margin: 0 0 20px;
}

.footer .box .social {
    display: flex;
    gap: 10px;
}

@media (max-width: 767px) {
    .footer .box .social {
        justify-content: center;
    }
}

.footer .box .social li a {
    padding: 15px;
    color: #b9b9b9;
    font-size: 20px;
    display: inline-flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: #313131;
    transition: var(--main-transition);
}

.footer .box .social .facebook:hover {
    background-color: #1877f2;
}

.footer .box .social .twitter:hover {
    background-color: #1da1f2;
}

.footer .box .social .youtube:hover {
    background-color: #ff0000;
}

.footer .box .text {
    line-height: 2;
}

.footer .box .links li {
    padding: 15px 0;
    transition: var(--main-transition);
}

.footer .box .links li:not(:last-child) {
    border-bottom: 1px #444 solid;
}

.footer .box .links li:hover {
    padding-left: 10px;
}

.footer .box .links li:hover a {
    color: #fff;
}

.footer .box .links li a {
    color: #b9b9b9;
    transition: var(--main-transition);
}

.footer .box .links li a::before {
    color: var(--main-color);
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\F101";
    margin-right: 10px;
}

.footer .box .line {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

@media (max-width: 767px) {
    .footer .box .line {
        flex-direction: column;
    }
}

.footer .box .line i {
    color: var(--main-color);
    font-size: 25px;
    margin-right: 10px;
}

@media (max-width: 767px) {
    .footer .box .line i {
        margin: 0 0 10px;
    }
}

.footer .box .line .info {
    flex: 1;
    line-height: 1.7;
}

.footer .box .line .info span {
    display: block;
}

.footer .footer-gallery img {
    width: 74px;
    border: 3px #fff solid;
    margin: 2px;
}

.footer .copyright {
    margin: 50px 0 0;
    text-align: center;
    padding: 25px;
    border-top: 1px #444 solid;
    color: #fff;
}

/* End Footer */
/* Start Animation */
@keyframes up-and-down {

    0%,
    100% {
        top: 0;
    }

    50% {
        top: -50px;
    }
}

@keyframes bouncing {

    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0)
    }

    40%,
    60% {
        transform: translateY(-15px)
    }
}

@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        right: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

@keyframes run-left {
    100% {
        transform: translateX(10px);
    }
}

@keyframes flashing {

    0%,
    40% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}

@keyframes change-background {

    0%,
    100% {
        background-image: url(../images/discount-background1.jpg);
    }

    50% {
        background-image: url(../images/discount-background2.jpg);
    }
}

/* End Animation */